@import "tailwindcss";

body {
  font-family: "Space Grotesk", sans-serif;
}

@theme {
  --text-small: 9px;
  --text-medium: 12px;
  --text-fourteen: 14px;
  --text-large: 18px;
  --text-extra-large: 28px;

  --color-deep-violet: #21092f;
  --color-Light-Grey: #dfdee0;
  --color-Dark-Grey: #8f8694;

  --background-image-dark-background: url("/bg-main-mobile.png");
  --background-image-card-front: url("/bg-card-front.png");
  --background-image-card-back: url("/bg-card-back.png");

  --background-image-desktop-dark-background: url("/bg-main-desktop.png");

  --breakpoint-desktop: 1440px;
}
